.mat-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.back-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.back-button-container button {
    background-color: rgb(4, 131, 143);
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.back-button-container {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.title-chart-card {
    background-color: rgb(4, 131, 143);
    color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    width: fit-content;
}

.title-chart-card mat-card-content {
    padding-top: 1px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.legend-chart-card {
    border: 3px solid rgb(4, 131, 143);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-card {
    max-width: 130px;
    width: 100%;
    text-align: center;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
canvas {
    max-width: 800px;
    max-height: 400px;
    width: 100%;
    height: auto;
}