<div class="back-button-container">
  <button mat-raised-button color="primary" (click)="goBack()">Retour</button>
</div>

<div class="title-chart-card">
  <mat-card-content>
    <h2>{{country}} :</h2>
  </mat-card-content>
</div>

<div class="cards-container">
  <div class="legend-chart-card">
    <mat-card>
      <mat-card-content>
        <div>Nombre de participations :</div>
        <h3>{{ participationNumber }}</h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="legend-chart-card">
    <mat-card>
      <mat-card-content>
        <div>Total de médailles obtenues :</div>
        <h3>{{ totalMedalsCount }}</h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="legend-chart-card">
    <mat-card>
      <mat-card-content>
        <div>Total d'athlètes présentés :</div>
        <h3>{{ totalAthleteCount }}</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="canvas-container">
    <canvas baseChart
      [datasets]="lineChartData.datasets"
      [labels]="lineChartData.labels"
      [type]="lineChartType"
      [options]="lineChartOptions">
    </canvas>
</div>