<div class="mat-card-container">
  <mat-card>
    <mat-card-content>
      Olympic Glory est votre destination ultime pour explorer et célébrer les réalisations
      des pays du monde entier aux Jeux Olympiques. Notre site web offre une plateforme interactive
      et informative pour les passionnés de sport, les historiens et les curieux qui souhaitent en
      savoir plus sur les performances olympiques des différentes nations.
    </mat-card-content>
  </mat-card>
</div>

<div class="canvas-container">
  <canvas baseChart
    [datasets]="pieChartData.datasets"
    [labels]="pieChartData.labels"
    [type]="pieChartType"
    (chartClick)="onChartClick($event)">
  </canvas>
</div>
